[Unit]
Description=MSI Linux Center read-only hardware service
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=org.msilinux.Center
ExecStart=/usr/bin/msi-daemon
User=root
Environment=MSI_LINUX_CENTER_ENABLE_BATTERY_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_FAN_MODE_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_COOLER_BOOST_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_SUPER_BATTERY_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_RGB_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_RGB_FLASH_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_WEBCAM_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_WEBCAM_BLOCK_WRITES=0
Environment=MSI_LINUX_CENTER_ENABLE_FN_KEY_WRITES=0
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
LockPersonality=yes
MemoryDenyWriteExecute=yes
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
