[Desktop Entry]
Type=Application
Name=MSI Katana Center
Comment=Start MSI Katana Center in the system tray
Exec=msicenter-ui
Icon=msicenter-ui
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
